{% extends "layout.html" %}

{% block title %}password quiz{% endblock %}

{% block content %}
<h1>Which of the following is a good practice for creating a password?</h1>
<form action={{ url_for("renderPage2") }} method="POST">
	<input type="radio" id="opt1" name="answer" value="answer1"><label for="answer1">Using your birthdate</label><br>
	<input type="radio" id="opt2" name="answer" value="answer2"><label for="answer2">Using your pet's name</label><br>
	<input type="radio" id="opt3" name="answer" value="answer3"><label for="answer3">Disabling two-factor authentication on your accounts.</label><br>
	<input type="radio" id="opt4" name="answer" value="answer4"><label for="answer4">Using the same password for multiple accounts.</label><br>
	<input type="radio" id="opt5" name="answer" value="answer5"><label for="answer5">Using a mix of upper and lowercase letters, numbers, and symbols</label><br>
	<br><br>
	<input type="submit" value="Submit">
</form> 


{% endblock %}