{% extends "layout.html" %}

{% block title %}password quiz{% endblock %}

{% block content %}
<h1>Choose the strongest password</h1>
<form action={{ url_for("renderPage1") }} method="POST">
	<input type="radio" id="pass1" name="password" value="password1"><label for="password1">Password123</label><br>
	<input type="radio" id="pass2" name="password" value="password2"><label for="password2">12345678</label><br>
	<input type="radio" id="pass3" name="password" value="password3"><label for="password3">@Mountain805</label><br>
	<input type="radio" id="pass4" name="password" value="password4"><label for="password4">ilovecat</label><br>
	<input type="radio" id="pass5" name="password" value="password5"><label for="password5">ABC123</label><br>
	<br><br>
	<input type="submit" value="Submit">
</form> 


{% endblock %}